layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zellij:compact-bar"
		}
		children
	}
	tab name="nvim" {
		pane command="nvim" borderless=true
		pane size="20%" name="term" borderless=true
	}
	tab name="git" {
		pane command="lazygit" borderless=true
	}
	tab name="files" {
		pane command="yazi" borderless=true
	}
	tab name="notes" { 
		pane command="nvim" borderless=true cwd="~/Documents/obsidian"
	}
	tab name="terminal" {
		pane borderless=true
	}
}
